./data
_bdd/*
!_bdd/.gitkeep
.env
.vscode
.idea
www/node_modules
www/package-lock.json
www/storage/session/*
www/storage/logs/*
www/storage/cache/*
www/vendor
www/public/js/bundle/*
/test
.idea
.vscode
www/libs
.scannerwork